body {
    background-color: #fff;
  }
  
  #readmain {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #area {
    width: 80%;
    height: 80%;
    margin: 5% auto;
    max-width: 1250px;
    overflow: hidden;
  }
  
  #area iframe {
    border: none;
  }
  
  pre {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    margin: 1em 0;
    column-count: 2;
    column-gap: 20px;
  }
  
  @media (max-width: 768px) {
    #area {
      width: 90%;
      height: 90%;
      margin: 2.5% auto;
    }
  
    pre {
      column-count: 1;
    }
  }